/* Global font rule */
html, body, button, input, table, td, th {font-family: "nta", Arial, sans-serif;}


/* START : header-menu */
/*This section provides styling for the "header-menu" Joomla postion */

/* Required because we cannot insert a class into the <a> of the list item */
.govuk-header__navigation-item>a:link, .govuk-header__navigation-item>a:visited {
    color: #fff;
}
.govuk-header__navigation-item>a {
    text-decoration: none;
}
.govuk-header__navigation-item>a:focus {
    outline: 3px solid #ffbf47;
    outline-offset: 0;
    background-color: #ffbf47;
    color: #0b0c0c;
}

/* END : header-menu */


/* START : search */
/*This section provides styling for the "search" Joomla postion */
/* END : search */


/* START : phase-banner */
/*This section provides styling for the "phase-banner" Joomla postion */
/* END : phase-banner */


/* START : breadcrumbs */
/*This section provides styling for the "breadcrumbs" Joomla postion */

/* END : breadcrumbs */

/* START : contents-menu */
/*This section provides styling for the "contents-menu" Joomla postion */
@media print {
    .contents-menu ul li a {
        font-family: sans-serif
    }
}

.contents-menu ul li a:focus {
    outline: 3px solid #ffbf47;
    outline-offset: 0;
    background-color: #ffbf47
}

.contents-menu ul li a:link {
    color: #005ea5
}

.contents-menu ul li a:visited {
    color: #4c2c92
}

.contents-menu ul li a:active,
.contents-menu ul li a:hover {
    color: #2b8cc4
}

.contents-menu ul li a:focus {
    color: #0b0c0c
}
/* END : contents-menu */

/* START : one-third */
/*This section provides styling for the "one-third" Joomla postion */
/* END : one-third */


/* START : MAIN JOOMLA CONTENT */

/* Start : Headings */
/* H1 = .govuk-heading-l */
div[itemprop="blogPost"] h1, div[itemprop="articleBody"] h1 {
    color: #0b0c0c;
    font-family: nta, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.04167;
    display: block;
    margin-top: 0;
    margin-bottom: 20px
}

@media print {
    div[itemprop="blogPost"] h1, div[itemprop="articleBody"] h1 {
        color: #000;
        font-family: sans-serif
    }
}

@media (min-width:40.0625em) {
    div[itemprop="blogPost"] h1, div[itemprop="articleBody"] h1 {
        font-size: 36px;
        font-size: 2.25rem;
        line-height: 1.11111
    }
}

@media print {
    div[itemprop="blogPost"] h1, div[itemprop="articleBody"] h1 {
        font-size: 24pt;
        line-height: 1.05
    }
}

@media (min-width:40.0625em) {
    div[itemprop="blogPost"] h1, div[itemprop="articleBody"] h1 {
        margin-bottom: 30px
    }
}

/* H2 = .govuk-heading-m */
div[itemprop="blogPost"] h2, div[itemprop="articleBody"] h2 {
    color: #0b0c0c;
    font-family: nta, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    display: block;
    margin-top: 0;
    margin-bottom: 15px
}

@media print {
    div[itemprop="blogPost"] h2, div[itemprop="articleBody"] h2 {
        color: #000;
        font-family: sans-serif
    }
}

@media (min-width:40.0625em) {
    div[itemprop="blogPost"] h2, div[itemprop="articleBody"] h2 {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1.25
    }
}

@media print {
    div[itemprop="blogPost"] h2, div[itemprop="articleBody"] h2 {
        font-size: 18pt;
        line-height: 1.15
    }
}

@media (min-width:40.0625em) {
    div[itemprop="blogPost"] h2, div[itemprop="articleBody"] h2 {
        margin-bottom: 20px
    }
}

/* H3 = .govuk-heading-s */
div[itemprop="blogPost"] h3, div[itemprop="articleBody"] h3 {
    color: #0b0c0c;
    font-family: nta, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    margin-top: 0;
    margin-bottom: 15px
}

@media print {
    div[itemprop="blogPost"] h3, div[itemprop="articleBody"] h3 {
        color: #000;
        font-family: sans-serif
    }
}

@media (min-width:40.0625em) {
    div[itemprop="blogPost"] h3, div[itemprop="articleBody"] h3 {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579
    }
}

@media print {
    div[itemprop="blogPost"] h3, div[itemprop="articleBody"] h3 {
        font-size: 14pt;
        line-height: 1.15
    }
}

@media (min-width:40.0625em) {
    div[itemprop="blogPost"] h3, div[itemprop="articleBody"] h3 {
        margin-bottom: 20px
    }
}
/* End : Headings */

/* Start : section to handle the fact that Article headings use h2*/ 
h2[itemprop="name"] {
	padding-top: 5px
}

h2[itemprop="name"] {
    color: #0b0c0c;
    font-family: nta, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 24px !important;
    font-size: 1.5rem !important;
    line-height: 1.04167 !important;
    display: block;
    margin-top: 0;
    margin-bottom: 20px
}

@media print {
    h2[itemprop="name"] {
        color: #000;
        font-family: sans-serif
    }
}

@media (min-width:40.0625em) {
    h2[itemprop="name"] {
        font-size: 36px !important;
        font-size: 2.25rem !important;
        line-height: 1.11111 !important;
    }
}

@media print {
    h2[itemprop="name"] {
        font-size: 24pt !important;
        line-height: 1.05 !important
    }
}

@media (min-width:40.0625em) {
    h2[itemprop="name"] {
        margin-bottom: 30px
    }
}
/* End : section to handle the fact that Article headings use h2*/ 

/* Start : Paragraph Text */
div[itemprop="blogPost"] p, div[itemprop="articleBody"] p {
    color: #0b0c0c;
    font-family: nta, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 15px
}

@media print {
	div[itemprop="blogPost"] p, div[itemprop="articleBody"] p {
		color: #000;
		font-family: sans-serif
    }
}

@media (min-width:40.0625em) {
div[itemprop="blogPost"] p, div[itemprop="articleBody"] p {
		font-size: 19px;
		font-size: 1.1875rem;
		line-height: 1.31579
    }
}

@media print {
	div[itemprop="blogPost"] p, div[itemprop="articleBody"] p {
		font-size: 14pt;
		line-height: 1.15
    }
}

@media (min-width:40.0625em) {
    div[itemprop="blogPost"] p, div[itemprop="articleBody"] p{
        margin-bottom: 20px
    }
}
/* End : Paragraph Text */

/* Start : Bold Text */
div[itemprop="blogPost"] p b, div[itemprop="articleBody"] p b {
    font-weight: 700!important
}
/* End : Bold Text */


/* Start : Links */
@media print {
    div[itemprop="blogPost"] a, div[itemprop="articleBody"] a {
        font-family: sans-serif
    }
}

div[itemprop="blogPost"] a:focus, div[itemprop="articleBody"] a:focus {
    outline: 3px solid #ffbf47;
    outline-offset: 0;
    background-color: #ffbf47
}

div[itemprop="blogPost"] a:link, div[itemprop="articleBody"] a:link {
    color: #005ea5
}

div[itemprop="blogPost"] a:visited, div[itemprop="articleBody"] a:visited {
    color: #4c2c92
}

div[itemprop="blogPost"] a:active, div[itemprop="articleBody"] a:active,
div[itemprop="blogPost"] a:hover, div[itemprop="articleBody"] a:hover {
    color: #2b8cc4
}

div[itemprop="blogPost"] a:focus, div[itemprop="articleBody"] a:focus {
    color: #0b0c0c
}
/* End : Links */

/* Start : Bulleted List */
div[itemprop="blogPost"] ul, div[itemprop="articleBody"] ul {
    font-family: nta, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 15px;
	padding-left: 20px;
    list-style-type: disc;
	margin-top: 10px;
}

@media print {
	div[itemprop="blogPost"] ul, div[itemprop="articleBody"] ul {
        font-family: sans-serif
    }
}

@media (min-width:40.0625em) {
    div[itemprop="blogPost"] ul, div[itemprop="articleBody"] ul {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579
    }
}

@media print {
    div[itemprop="blogPost"] ul, div[itemprop="articleBody"] ul {
        font-size: 14pt;
        line-height: 1.15;
        color: #000
    }
}

@media (min-width:40.0625em) {
    div[itemprop="blogPost"] ul, div[itemprop="articleBody"] ul {
        margin-bottom: 20px
    }
}

@media (min-width:40.0625em) {
    div[itemprop="blogPost"] ul li, div[itemprop="articleBody"] ul li{
        margin-bottom: 5px
    }
}

/* End : Bulleted List */

/* Start : Numbered List */
div[itemprop="blogPost"] ol, div[itemprop="articleBody"] ol {
    font-family: nta, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 15px;
	padding-left: 20px;
    list-style-type: decimal
}

@media print {
    div[itemprop="blogPost"] ol, div[itemprop="articleBody"] ol {
        font-family: sans-serif
    }
}

@media (min-width:40.0625em) {
    div[itemprop="blogPost"] ol, div[itemprop="articleBody"] ol {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579
    }
}

@media print {
    div[itemprop="blogPost"] ol, div[itemprop="articleBody"] ol {
        font-size: 14pt;
        line-height: 1.15;
        color: #000
    }
}

@media (min-width:40.0625em) {
    div[itemprop="blogPost"] ol, div[itemprop="articleBody"] ol {
        margin-bottom: 20px
    }
}

div[itemprop="blogPost"] ol, div[itemprop="articleBody"] ol {
    margin-top: 10px
}

@media (min-width:40.0625em) {
    div[itemprop="blogPost"] ol li, div[itemprop="articleBody"] ol li {
        margin-bottom: 5px
    }
}
/* End : Numbered List */

/* Spacing at the bottom of the screen */
.items-row, .item-page, .items-leading, .item {
	margin-bottom: 50px;
}


/* END : MAIN JOOMLA CONTENT */
