.gem-c-search {
	position:relative;margin-bottom:30px
}
.gem-c-search__label{
	display:block
}
.gem-c-search__label h1{
	font-family:"nta", Arial, sans-serif;
	font-weight:400;
	text-transform:none;
	font-size:16px;
	line-height:40px;
	margin:0
}

@media (min-width: 641px){
	.gem-c-search__label h1{
		font-size:19px;
		line-height:40px}
}

.gem-c-search__input[type="search"]{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font-family:"nta", Arial, sans-serif;
	font-weight:400;
	text-transform:none;
	font-size:16px;
	line-height:1.75;
	-webkit-appearance:none;
	-moz-appearance:none;
	padding:6px;
	margin:0.5em 0;
	width:100%;
	height:40px;
	border:0;
	background:#fff;
	border-radius:0
}

@media (min-width: 641px){
	.gem-c-search__input[type="search"]{
		font-size:19px;
		line-height:1.4736842105
	}
}

.gem-c-search__input[type="search"]:focus{
	outline:3px solid #ffbf47;
	outline-offset:0
}

.gem-c-search__submit{
	padding:6px;
	border:0;
	cursor:pointer;
	border-radius:0
}

.gem-c-search__submit:focus{
	outline:3px solid #ffbf47;
	outline-offset:0
}

.js-enabled .gem-c-search__label{
	font-family:"nta", Arial, sans-serif;
	font-weight:400;
	text-transform:none;
	font-size:16px;
	line-height:40px;
	position:absolute;
	left:15px;
	top:1px;
	z-index:1;color:#6f777b
}

@media (min-width: 641px){
	.js-enabled .gem-c-search__label{
		font-size:19px;line-height:40px
	}
}

.gem-c-search__item-wrapper{
	display:table;width:100%;background:#fff
}

.gem-c-search__item{
	position:relative;
	display:table-cell;
	vertical-align:top
}

.gem-c-search__input[type="search"]{
	margin:0
}

.gem-c-search__input[type="search"]:focus,.gem-c-search__input[type="search"].focus{z-index:2}.gem-c-search__submit-wrapper{width:1%}.gem-c-search__submit{
	position:relative;
	padding:0;
	width:40px;
	height:40px;
	background-image:url(https://assets.publishing.service.gov.uk/collections/govuk_publishing_components/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png);
	background-repeat:no-repeat;
	background-position:2px 50%;
	text-indent:-5000px;
	overflow:hidden
}
.gem-c-search__submit:focus{
	z-index:2
}
.gem-c-search__submit::-moz-focus-inner{
	border:0
}

@media only screen and (
	-webkit-min-device-pixel-ratio: 2
), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx){.gem-c-search__submit{background-size:52.5px auto;background-position:115% 50%}}.gem-c-search--on-govuk-blue .gem-c-search__label{color:#fff}.gem-c-search--on-govuk-blue .gem-c-search__submit{background-color:#0b0c0c;color:#fff}.gem-c-search--on-govuk-blue .gem-c-search__submit:hover{background-color:#171919}.js-enabled .gem-c-search--on-govuk-blue .gem-c-search__label{color:#6f777b}.gem-c-search--on-white .gem-c-search__label{color:#0b0c0c}.gem-c-search--on-white .gem-c-search__input[type="search"]{border:solid 1px #bfc1c3}.gem-c-search--on-white .gem-c-search__submit{background-color:#2b8cc4;color:#fff}.gem-c-search--on-white .gem-c-search__submit:hover{background-color:#3699d3}.gem-c-search--on-white .gem-c-search__input[type="search"]{border-right:0}.js-enabled .gem-c-search--on-white .gem-c-search__label{color:#6f777b}.gem-c-search--large .gem-c-search__label{font-family:"nta", Arial, sans-serif;font-weight:400;text-transform:none;font-size:16px;line-height:50px}@media (min-width: 641px){.gem-c-search--large .gem-c-search__label{font-size:19px;line-height:50px}}.gem-c-search--large .gem-c-search__input[type="search"]{height:50px}.gem-c-search--large .gem-c-search__submit{width:50px;height:50px;background-position:8px 50%}@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx){.gem-c-search--large .gem-c-search__submit{background-size:60px auto;background-position:160% 50%}}.gem-c-search--separate-label .gem-c-search__label{position:relative;left:auto}.govuk-select{font-family:"nta", Arial, sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-weight:400;font-size:16px;line-height:1.25;box-sizing:border-box;max-width:100%;height:40px;padding:5px;border:2px solid #0b0c0c}



@media print{.govuk-select{font-family:sans-serif}}@media (min-width: 40.0625em){.govuk-select{font-size:19px;line-height:1.25}}@media print{.govuk-select{font-size:14pt;line-height:1.25}}.govuk-select:focus{outline:3px solid #ffbf47;outline-offset:0}.govuk-select option:active,.govuk-select option:checked,.govuk-select:focus::-ms-value{color:#ffffff;background-color:#005ea5}.govuk-select--error{border:4px solid #b10e1e}.gem-c-share-links__list{list-style:none;margin:0;padding:0}.gem-c-share-links__list-item{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:relative;display:inline-block;min-height:32px;padding-left:42px;margin-bottom:10px;font-size:16px;line-height:32px}.gem-c-share-links__link{font-family:"nta", Arial, sans-serif;font-weight:700;text-transform:none;font-size:14px;line-height:1.1428571429;margin-right:30px;text-decoration:none}@media (min-width: 641px){.gem-c-share-links__link{font-size:16px;line-height:1.25}}.gem-c-share-links__title{color:#0b0c0c;font-family:"nta", Arial, sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-weight:400;font-size:14px;line-height:1.5;margin:0 0 10px 0}@media print{.gem-c-share-links__title{color:#000000}}@media print{.gem-c-share-links__title{font-family:sans-serif}}@media (min-width: 40.0625em){.gem-c-share-links__title{font-size:16px;line-height:1.5}}@media print{.gem-c-share-links__title{font-size:14pt;line-height:1.5}}.gem-c-share-links__link-icon{position:absolute;top:0;left:0;width:32px;height:32px;vertical-align:top}.dir




















.site-search{
	width:100%
}

}@media (min-width: 769px){#global-header.with-proposition .header-wrapper .header-proposition{width:66.66%;float:left}}#global-header.with-proposition .header-wrapper .header-proposition .content{margin:0 15px}#global-header #logo{float:left;overflow:visible;color:white;font-weight:bold;font-size:30px;line-height:1;text-decoration:none;text-rendering:optimizeLegibility;border-bottom:1px solid transparent;background:url(https://assets.publishing.service.gov.uk/static/images/gov.uk_logotype_crown-ea874a79e09423d63420aff44f016fd0b92dc6dec0cc2668d63b150c8669875e.png) no-repeat;background-size:36px 32px;background-position:0 0}#global-header #logo img{margin:2px 1px 0 0;vertical-align:bottom;visibility:hidden}#global-header #logo:hover,#global-header #logo:focus{text-decoration:none;border-bottom-color:white}#global-header .header-proposition{padding-top:10px}@media (min-width: 769px){#global-header


	.site-search:after,#global-header form#search .content:after{content:"";display:block;clear:both}#user-satisfaction-survey .survey-wrapper,.govuk-emergency-banner div,#wrapper{max-width:960px;margin:0 15px}@media (min-width: 641px){#user-satisfaction-survey .survey-wrapper,.govuk-emergency-banner div,#wrapper{margin:0 30px}}@media (min-width: 1020px){#user-satisfaction-survey .survey-wrapper,.govuk-emergency-banner div,#wrapper{margin:0 auto}}#footer .footer-categories,.grid-row{margin:0 -15px}#footer .footer-categories:after,.grid-row:after,#global-header .header-wrapper .header-global .site-search:after,#global-header form#search .content:after{content:"";display:block;clear:both}#user-satisfaction-survey .survey-wrapper,.govuk-emergency-banner div,#wrapper{max-width:960px;margin:0 15px}@media (min-width: 641px){#user-satisfaction-survey .survey-wrapper,.govuk-emergency-banner div,#wrapper{margin:0 30px}}@media (min-width: 1020px){#user-satisfaction-survey .survey-wrapper,.govuk-emergency-banner div,#wrapper{margin:0 auto}}#footer .footer-categories,.grid-row{margin:0 -15px}#footer .footer-categories:after,.grid-row:after,#global-header .header-wrapper .header-global .site-search:after,#global-header form#search .content:after{content:"";display:block;clear:both}.draft main{background-image:url(https://assets.publishing.service.gov.uk/static/draft-watermark-f027bf00c2ae13948a2cf89eebfbdae4074dac9994d4d6471349c86aad049603.png);background-repeat:repeat-y;background-position:50% 0;background-size:contain}#footer{border-top:10px solid #005ea5}@media (min-width: 641px){#footer .footer-categories{padding-bottom:30px}}@media (min-width: 641px){#footer .footer-categories .footer-explore,#footer .footer-categories .footer-inside-government{float:left;width:66.66%;padding-bottom:60px}}#footer .footer-categories .footer-explore h2,#footer .footer-categories .footer-inside-government h2{margin:0 15px;padding:10px 0 0}@media (min-width: 641px){#footer .footer-categories .footer-explore h2,#footer .footer-categories .footer-inside-government h2{padding:0 0 20px;border-bottom:1px solid #bfc1c3}}#footer .footer-categories hr{clear:both;margin:0 15px 30px;border:1px solid #bfc1c3;border-width:1px 0 0 0}@media (min-width: 641px){#footer .footer-categories hr{margin-bottom:0}}#footer .footer-categories ul{font-family:"nta", Arial, sans-serif;font-weight:400;text-transform:none;font-size:14px;line-height:1.1428571429;list-style:none;padding:0;margin:0}@media (min-width: 641px){#footer .footer-categories ul{font-size:16px;line-height:1.25}}@media (min-width: 641px){#footer .footer-categories ul{float:left;margin:15px 0 0 0;width:50%}}#footer .footer-categories ul li{display:block;margin-bottom:5px;padding:10px 0 0;margin:0 15px 5px}@media (min-width: 641px){#footer .footer-categories ul li{padding:20px 0 0;margin:0 15px}}@media (min-width: 641px){#footer .footer-categories .footer-inside-government{float:left;width:33.33%}#footer .footer-categories .footer-inside-government ul li{width:100%}}#footer .footer-categories:after,.grid-row:after,#global-header .header-wrapper .header-global .site-search:after,#global-header form#search .content:after{content:"";display:block;clear:both}#global-header .header-wrapper .header-global .site-search{width:49%;float:right}@media (min-width: 769px){#global-header .header-wrapper .header-global .site-search{width:33.33%}}@media screen and (max-width: 379px){#global-header .header-wrapper .header-global .site-search{width:auto;float:none}}#global-header .header-wrapper .header-global .site-search .content{margin:0 15px}#global-header.with-proposition #search{margin-top:4px}#global-header .search-toggle{display:none}@media screen and (max-width: 379px){#global-header .search-toggle{display:block;float:right;height:30px;width:36px;padding:0;margin:-32px 15px;overflow:hidden;text-indent:-5000px;background-color:#005ea5;background-image:url(https://assets.publishing.service.gov.uk/static/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png);background-repeat:no-repeat;background-position:0 50%}body.search #global-header .search-toggle{display:none}}@media only screen and (max-width: 379px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 379px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 379px) and (-o-min-device-pixel-ratio: 20 / 10), only screen and (max-width: 379px) and (min-device-pixel-ratio: 2), only screen and (max-width: 379px) and (min-resolution: 192dpi), only screen and (max-width: 379px) and (min-resolution: 2dppx){#global-header .search-toggle{background-size:52.5px 35px;background-position:100% 50%}}#global-header .search-toggle:hover{background-color:#004f8c}#global-header .search-toggle.js-hidden{display:none}#global-header form#search .content{position:relative;background:#fff}#global-header form#search label{float:left;min-height:36px;line-height:35px;text-indent:15px;overflow:hidden;display:block;margin-right:10px}.js-enabled #global-header form#search label{float:none;position:absolute;left:0;top:1px;z-index:1;width:100%;margin-right:0}#global-header form#search input{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left;width:50%;min-width:0;display:block;margin:0;border:0;min-height:36px;padding:6px 0;-webkit-appearance:none;-moz-appearance:none}#global-header form#search input::-moz-focus-inner{border:0}#global-header form#search input#site-search-text{font-family:"nta", Arial, sans-serif;font-weight:400;text-transform:none;font-size:14px;line-height:1.7692307692;position:relative;padding:6px;z-index:3;background:transparent}@media (min-width: 641px){#global-header form#search input#site-search-text{font-size:16px;line-height:1.4375}}#global-header form#search input#site-search-text.focus,#global-header form#search input#site-search-text:focus{background:#fff;outline-offset:-3px}.js-enabled #global-header form#search input#site-search-text{width:86%;width:-webkit-calc(100% - 35.1px);width:calc(100% - 35.1px)}#global-header form#search input.submit{position:absolute;z-index:4;right:0;top:0;width:36px;height:36px;border:1px solid #005ea5;border-width:0 0 0 1px;border-left-color:#222;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;overflow:hidden;text-indent:-5000px;color:#fff;background-color:#005ea5;background-image:url(https://assets.publishing.service.gov.uk/static/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png);background-repeat:no-repeat;background-position:0 50%}@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx){#global-header form#search input.submit{background-size:52.5px 35px;background-position:100% 50%}}#global-header form#search input.submit:hover{background-color:#004f8c}#global-header form#search input.submit.focus,#global-header form#search input.submit:focus{outline-offset:-3px}@media screen and (max-width: 379px){#global-header form#search{display:none;width:100%}#global-header form#search #site-search-text{width:80%}}#global-header form#search.js-visible{display:block}#global-browser-prompt{display:none}#global-browser-prompt{padding:0.5em 2em}#global-browser-prompt p{font-family:"nta", Arial, sans-serif;font-weight:400;text-transform:none;font-size:16px;line-height:1.25;margin:0 auto;max-width:960px}@media (min-width: 641px){#global-browser-prompt p{font-size:19px;line-height:1.3157894737}}@media (max-width: 640px){#global-browser-prompt{padding:0.5em 1em}}#global-browser-prompt{background-color:#d5e8f3}#global-browser-prompt p{position:relative;padding-right:20px;max-width:940px}#global-browser-prompt .dismiss{background-image:url(https://assets.publishing.service.gov.uk/static/close-70bb989d72ea39bbfeb855ff3a3b9005b3fbd5702c68084e6ddea740c124ea3b.png);background-color:transparent;background-repeat:no-repeat;background-position:center right;text-decoration:none;height:22px;width:10px;text-indent:-9999px;display:inline-block;position:absolute;right:0}#user-satisfaction-survey{display:none;background-color:#005ea5;margin-bottom:1px;color:#fff;font-family:"nta", Arial, sans-serif;font-weight:400;text-transform:none;font-size:14px;line-height:1.1428571429}@media (min-width: 641px){#user-satisfaction-survey{font-size:16px;line-height:1.25}}#user-satisfaction-survey.visible{display:block}@media (max-width: 640px){#user-satisfaction-survey.visible .survey-close-button{font-size:20px}#user-satisfaction-survey.visible .survey-title{font-size:18px;margin-top:2em}#user-satisfaction-survey.visible .survey-primary-link,#user-satisfaction-survey.visible .postscript-cta{font-size:18px}}#user-satisfaction-survey [tabindex="-1"]:focus{outline:none}#user-satisfaction-survey a:link,#user-satisfaction-survey a:active,#user-satisfaction-survey a:hover,#user-satisfaction-survey a:visited{color:inherit}#user-satisfaction-survey a:focus{color:#0b0c0c}#user-satisfaction-survey .survey-wrapper{padding-top:15px;padding-bottom:20px;clear:both}#user-satisfaction-survey .survey-inner-wrapper{max-width:30em}#user-satisfaction-survey .survey-title{font-family:"nta", Arial, sans-serif;font-weight:700;text-transform:none;font-size:16px;line-height:1.25;margin-bottom:.5em}@media (min-width: 641px){#user-satisfaction-survey .survey-title{font-size:19px;line-height:1.3157894737}}#user-satisfaction-survey .survey-close-button{float:right;font-family:"nta", Arial, sans-serif;font-weight:400;text-transform:none;font







