# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/
/LICENSE.txt
/index.php
/htaccess.txt
/configuration.php
/tmp/
/plugins/
/modules/
/media/
/libraries/
/layouts/
/language/
/includes/
/images/
/components/
/cli/
/cache/
/bin/
/templates/beez3/
/templates/protostar/
/templates/system/
/templates/index.html
/administrator/