# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/
/LICENSE.txt
/index.php
/htaccess.txt
/configuration.php
/tmp/
/plugins/
/modules/
/media/
/libraries/
/layouts/
/language/
/includes/
/images/
/components/
/cli/
/cache/
/bin/
/templates/beez3/
/templates/protostar/
/templates/system/
/templates/index.html
/administrator/
/README.txt
/documents/CCMS-best-practice-for-providers.pdf
/templates/govuk_template/system/component.php
/templates/govuk_template/system/css/editor.css
/templates/govuk_template/system/css/error.css
/templates/govuk_template/system/css/error_rtl.css
/templates/govuk_template/system/css/general.css
/templates/govuk_template/system/css/offline.css
/templates/govuk_template/system/css/offline_rtl.css
/templates/govuk_template/system/css/system.css
/templates/govuk_template/system/css/toolbar.css
/templates/govuk_template/system/error.php
/templates/govuk_template/system/html/modules.php
/templates/govuk_template/system/images/calendar.png
/templates/govuk_template/system/images/j_button2_blank.png
/templates/govuk_template/system/images/j_button2_image.png
/templates/govuk_template/system/images/j_button2_left.png
/templates/govuk_template/system/images/j_button2_pagebreak.png
/templates/govuk_template/system/images/j_button2_readmore.png
/templates/govuk_template/system/images/j_button2_right.png
/templates/govuk_template/system/images/selector-arrow.png
/templates/govuk_template/system/index.php
/templates/govuk_template/system/offline.php